<!-- Toolbar -->
<div class="toolbar" >
    <div fxLayoutAlign="space-between  start">
        <img src="assets/images/logo.jpg" width="70px" />
        <a mat-fab class="btn-color" [routerLink]="'/products'">{{title}}</a>
        <a mat-fab class="btn-color" [routerLink]="'/login'" *ngIf="!isLogged">
            Login
        </a>
        <a mat-fab class="btn-color" [routerLink]="'/register'" *ngIf="!isLogged">
            Register
        </a>
        <a mat-fab class="btn-color" [routerLink]="'/insertProduct'" *ngIf="isLogged && isAdmin">
            Products
        </a>
        <a mat-fab class="btn-color" [routerLink]="'/category'" *ngIf="isLogged && isAdmin">
            Categories
        </a>
        <a mat-fab class="btn-color" [routerLink]="'/provider'" *ngIf="isLogged && isAdmin">
            Providers
        </a>
        <a mat-fab class="btn-color" [routerLink]="'/delivery'" *ngIf="isLogged && isAdmin">
            Deliveries
        </a>
        <a mat-fab class="btn-color" [routerLink]="'/orders'" *ngIf="isLogged && isAdmin">
            Orders
        </a>
        <a mat-fab class="btn-color" [routerLink]="'/wishlist'" *ngIf="isLogged && !isAdmin">
            <mat-icon>favorite</mat-icon>
        </a>
        <a mat-fab class="btn-color" [routerLink]="'/basket'" *ngIf="isLogged && !isAdmin">
            <mat-icon>shopping_cart</mat-icon>
        </a>
        <a mat-fab class="btn-color" [routerLink]="'/history'" *ngIf="isLogged && !isAdmin">
            My Orders<mat-icon>shopping_cart</mat-icon>
        </a>
        <a mat-fab class="btn-color" (click)="logout()" *ngIf="isLogged">
            Logout
        </a>
    </div>
</div>