<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div  fxLayoutAlign="space-around start">
        <img src="assets/images/logo.jpg" width="50px"/>
        <a  mat-button [routerLink]="'/products'">{{title}}</a>
        <a mat-button [routerLink]="'/insertProduct'">
            ManageProducts
        </a>
<!--         <a mat-button [routerLink]="'/'">
            History
        </a> -->
        <a mat-button [routerLink]="'/category'">
            Categories
        </a>
        <a mat-button [routerLink]="'/deliveryProvider'">
            Providers
        </a>
    </div>
</div>