.card-style{
    width: 500px;
    margin: 13px;
    padding: 10px;
    background-color: #ffcfb9;
    color: #047979;
  }
  
  .example-header-image {
    background-image: url('/assets/images/logo.jpg');
        background-size: cover;
  }
  img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    width: auto;
    object-fit: contain;
    
  }

  .position-div-img{
    margin-top: 1%;
  }