<mat-card class="card-style">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><strong>{{product.name}}</strong> </mat-card-title>
    <mat-card-subtitle>Add on:{{product.datetime}}</mat-card-subtitle>
  </mat-card-header>
  <div fxLayoutAlign="center center" class="position-div-img">
    <img mat-card-image [src]='src' (click)="openDialog()" >
    </div>
    <mat-card-content>
      <p>
        <strong>{{product.price}} RON</strong> 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialogDetails()" >Details</button>      
      <button mat-button title="Buy"><mat-icon>add_shopping_cart</mat-icon> </button>
      <button mat-button (click)="favorite()" ><mat-icon> {{isfavorite==true? "favorite":"favorite_border"}}</mat-icon></button>
    </mat-card-actions>
  </mat-card>
