<mat-card>
    <mat-card-header>
        <mat-card-title><strong>{{data.name}}</strong> </mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
        <div fxLayoutAlign="center center" fxLayout="column">
            <img mat-card-image [src]='src'>
        </div>
        <p>
            <strong>Quantity:</strong> {{data.quantity}}
        </p>
        <p>
            <strong>Price:</strong> {{data.price}} RON
        </p>
        <br>
        <div *ngIf="data.hide=='false'">
            <button mat-raised-button color="accent" (click)="onSubmit()" >
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-raised-button color="accent" (click)="onChange(-1)" >
                <mat-icon>remove</mat-icon>
            </button>
            <button mat-raised-button color="accent" (click)="onChange(+1)" >
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>