.input-style{
    width: 80%;
    margin:5px;
    font-size: small;
   color:crimson;
}

.input-min-style{
    width: 50%;
    margin:5px;
    font-size: small;
   color:crimson;
}
.title-style{
    margin: 30px;
    margin-top: 5%;
    text-align: center;
    color: crimson;
}
.text-style{
    text-align: center;
    color: crimson;
}
.color-text{
    color: crimson;
}

.btn-size{
    width: 200px;
    height: 50px;
    margin-bottom: 5%;
    background-color: crimson;
}
