<div fxLayoutAlign="center center">

    <mat-card class="card-size">
        <mat-card-title>
            <h1 class="title-style"><strong>Add a new record</strong></h1>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="formProvider" (ngSubmit)="onSubmit()">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field appearance="fill">
                        <mat-label>Providers</mat-label>
                        <mat-select formControlName='providerName' required>
                            <mat-option *ngFor="let prov of providers" [value]="prov.name">
                                {{prov.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formProvider.controls['providerName'].hasError('required')">
                            Provider is <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Deliveries</mat-label>
                        <mat-select formControlName='deliveryName' required>
                            <mat-option *ngFor="let del of deliveries" [value]="del.name">
                                {{del.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formProvider.controls['deliveryName'].hasError('required')">
                            Delivery way is <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field class="input-style">
                        <mat-label>Specification</mat-label>
                        <input matInput formControlName='specification' required>
                        <mat-icon matSuffix class="color-text">access_time</mat-icon>
                        <mat-error *ngIf="formProvider.controls['specification'].hasError('required')">
                            Specification are <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-style">
                        <mat-label>Delivery Company</mat-label>
                        <input matInput formControlName='deliveryCompany' required>
                        <mat-icon matSuffix class="color-text">access_time</mat-icon>
                        <mat-error *ngIf="formProvider.controls['deliveryCompany'].hasError('required')">
                            Delivery company are <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-style">
                        <mat-label>Price</mat-label>
                        <input matInput type="number" formControlName='price' required>
                        <mat-icon matSuffix class="color-text">access_time</mat-icon>
                        <mat-error *ngIf="formProvider.controls['price'].hasError('required')">
                            Price are <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
            <div fxLayoutAlign="center center">
                <button mat-raised-button class="btn-size" color="accent" (click)="onSubmit()" 
                [disabled]="formProvider.controls['specification'].hasError('required') || 
                formProvider.controls['deliveryCompany'].hasError('required')|| 
                formProvider.controls['providerName'].hasError('required')|| 
                formProvider.controls['deliveryName'].hasError('required')||
                formProvider.controls['price'].hasError('required')">Create</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>