<mat-dialog-content class="mat-typography">
        <div fxLayoutAlign="center center" class="position-div-img">
            <img mat-card-image [src]="src"> 
        </div>      
          <mat-card-header>
            <mat-card-title><strong>{{product.name}}</strong> </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                <strong>Price: {{product.price}} RON</strong>
            </p>
            <p *ngIf='product.categoryName!=null'>
                <strong>Category: </strong> {{product.categoryName}}
            </p>
            <p *ngIf='product.providerName!=null'>
                <strong>Provider: </strong> {{product.providerName}}
            </p>
        </mat-card-content>
        <mat-card-actions *ngIf='product.specifications!=null'>
            <button mat-button (click)="openDialogDetails()" >Specifications</button>   
            </mat-card-actions>
</mat-dialog-content>