<div  fxLayoutAlign="center center">
    <mat-card class="card-size">
        <mat-card-title>
            <h1 class="title-style"><strong>Add a new delivery way</strong></h1>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="formDelivery" (ngSubmit)="onSubmit()">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field class="input-style">
                        <mat-label>Delivery name</mat-label>
                        <input matInput [type]="'text'" formControlName='name' placeholder="Ex. curier" required>
                        <mat-icon matSuffix class="color-text">edit</mat-icon>
                        <mat-error *ngIf="formDelivery.controls['name'].hasError('required')">
                            Name is <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="input-style">
                        <mat-label>Specifications</mat-label>
                        <input matInput placeholder="Ex. livrare in 3 zile " formControlName='specifications' required>
                        <mat-icon matSuffix class="color-text">access_time</mat-icon>
                        <mat-error *ngIf="formDelivery.controls['specifications'].hasError('required')">
                            Specifications are <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="input-style">
                        <mat-label>Price</mat-label>
                        <input matInput type="number" placeholder="Ex. livrare in 3 zile " formControlName='price' required>
                        <mat-icon matSuffix class="color-text">euro</mat-icon>
                        <mat-error *ngIf="formDelivery.controls['price'].hasError('required')">
                            Price are <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>

            <div fxLayoutAlign="center center">
                <button class="btn-size" mat-raised-button color="accent" (click)="onSubmit()" [disabled]="formDelivery.controls['specifications'].hasError('required') || 
                formDelivery.controls['name'].hasError('required') ||
                formDelivery.controls['price'].hasError('required')">Create</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>


