<div fxLayout="row wrap" >
    <div fxLayoutAlign="center center">
        <mat-card class="card-size">
            <form [formGroup]="formProvider">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field class="input-medi-style">
                        <mat-label>Providers</mat-label>
                        <mat-select formControlName='providerId' >
                            <mat-option *ngFor="let prov of providers" [value]="prov.providerID">
                                {{prov.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="input-medi-style">
                        <mat-label>Categories</mat-label>
                        <mat-select formControlName='categoryId'>
                            <mat-option *ngFor="let category of categories" [value]="category.categoryID">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field class="input-min-style">
                        <input type="number" matInput formControlName='priceMin' placeholder=" Price Min">
                    </mat-form-field>
                    <strong>-</strong>
                    <mat-form-field class="input-min-style">
                        <input type="number" matInput formControlName='priceMax' placeholder="Price Max">
                    </mat-form-field>
                </div>
            </form>
            <div fxLayoutAlign="center center">
                <button mat-raised-button class="btn-size" (click)="onSubmit()" color="accent">Search</button>
            </div>
        </mat-card>
    </div>
<div fxLayoutAlign="center center" fxLayout="row wrap"  class="size-position">
    <div *ngFor="let product of products">
        <app-product [product]='product'></app-product>
    </div>
</div>

</div>