<div fxLayoutAlign="center center">
  <mat-card class="card-size">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>
        <h1 class="title-style"><strong>Add a new product</strong></h1>
      </mat-card-title>
      <mat-slide-toggle class="text-style" [(ngModel)]="isChecked">Publish the product</mat-slide-toggle>
      <br><br>
      <span style="color:crimson ;"><mat-icon>insert_photo</mat-icon> Upload Image</span>  <input type="file" (change)="onFileChange($event)">
    <br>
     <span style="color:crimson ;"><mat-icon>attach_file</mat-icon> Upload Specification</span><input type="file"  (change)="onDocChange($event)">
    </div>
    <mat-card-content>
      <form [formGroup]="formProduct" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field class="input-style">
            <mat-label>Product name</mat-label>
            <input matInput [type]="'text'" formControlName='name' required>
            <mat-icon matSuffix class="color-text">create</mat-icon>
            <mat-error *ngIf="formProduct.controls['name'].hasError('required')">
              Name is <strong>required</strong>!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-style">
            <mat-label>Description</mat-label>
            <textarea matInput rows="5" formControlName='description' required></textarea>
            <mat-icon matSuffix class="color-text">description</mat-icon>
            <mat-error *ngIf="formProduct.controls['description'].hasError('required')">
              Description is <strong>required</strong>!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-style">
            <mat-label>Specification</mat-label>
            <textarea rows="5" matInput formControlName='specifications' required></textarea>
            <mat-icon matSuffix class="color-text">list</mat-icon>
            <mat-error *ngIf="formProduct.controls['specifications'].hasError('required')">
              Specification is <strong>required</strong>!
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field class="input-min-style">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName='price' required>
            <mat-icon matSuffix class="color-text">euro_symbol</mat-icon>
            <mat-error *ngIf="formProduct.controls['price'].hasError('required')">
              The price is <strong>required</strong>!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-min-style">
            <mat-label>Stock</mat-label>
            <input matInput [type]="'number'" formControlName='stock' required>
            <mat-icon matSuffix class="color-text">star_rate</mat-icon>
            <mat-error *ngIf="formProduct.controls['stock'].hasError('required')">
              The number of products to sell is <strong>required</strong>!
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field class="input-medi-style">
            <mat-label>Providers</mat-label>
            <mat-select formControlName='provider' required>
              <mat-option *ngFor="let prov of providers" [value]="prov.providerID">
                {{prov.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formProduct.controls['provider'].hasError('required')">
              Provider is <strong>required</strong>!
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="input-medi-style">
            <mat-label>Categories</mat-label>
            <mat-select formControlName='category' required>
              <mat-option *ngFor="let category of categories" [value]="category.categoryID">
                {{category.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formProduct.controls['category'].hasError('required')">
              Category is <strong>required</strong>!
            </mat-error>
          </mat-form-field>
        </div>
      </form>
      <div fxLayoutAlign="center center">
        <button class="btn-size" mat-raised-button color="accent" (click)="onSubmit()" 
        [disabled]="formProduct.controls['specifications'].hasError('required') || 
              formProduct.controls['name'].hasError('required')|| 
              formProduct.controls['description'].hasError('required')|| 
              formProduct.controls['price'].hasError('required')|| 
              formProduct.controls['stock'].hasError('required')|| 
              formProduct.controls['category'].hasError('required')|| 
              formProduct.controls['provider'].hasError('required')">Create</button>
      </div>
    </mat-card-content>
  </mat-card>


</div>