<div  fxLayoutAlign="center center">
    <mat-card class="card-size">
        <mat-card-title>
            <h1 class="title-style"><strong>Add a new provider</strong></h1>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="formProvider" (ngSubmit)="onSubmit()">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field class="input-style">
                        <mat-label>Provider name</mat-label>
                        <input matInput [type]="'text'" formControlName='name' placeholder="Ex. DToys" required>
                        <mat-icon matSuffix class="color-text">edit</mat-icon>
                        <mat-error *ngIf="formProvider.controls['name'].hasError('required')">
                            Name is <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="input-style">
                        <mat-label>Address and contact data</mat-label>
                        <input matInput placeholder="Ex. Str.Florilor Sector 3 ..." formControlName='address' required>
                        <mat-icon matSuffix class="color-text">access_time</mat-icon>
                        <mat-error *ngIf="formProvider.controls['address'].hasError('required')">
                            Address and contact data are <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>

            <div fxLayoutAlign="center center">
                <button class="btn-size" mat-raised-button color="accent" (click)="onSubmit()" [disabled]="formProvider.controls['address'].hasError('required') || 
                formProvider.controls['name'].hasError('required')">Create</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>


